<!DOCTYPE html>
<html lang="en" dir="ltr">

   <script src='static/js/script.js'></script>

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="static/css/template.css">
   <title>Current Gradients</title>
</head>


<body>
   {% extends "template.html" %}
   {% block content %}

   <div class="cards">
      <div class="card">
         <h3>Payerne - we are offline until March 2022</h3>
         <img class="img showModal" src="{{ url_for('static', filename='images/VSST76_current.svg') }}" alt="Payerne">
      </div>
      <div class="card">
         <h3>Stuttgart - we are offline until March 2022</h3>
         <img class="img showModal" src="{{ url_for('static', filename='images/VSST78_current.svg') }}" alt="Stuttgart">
      </div>
      <div class="card">
         <h3>Novara/Cameri - we are offline until March 2022</h3>
         <img class="img showModal" src="{{ url_for('static', filename='images/VSST80_current.svg') }}" alt="Milano">
      </div>
      <div class="card">
         <h3>München - we are offline until March 2022</h3>
         <img class="img showModal" src="{{ url_for('static', filename='images/VSST77_current.svg') }}" alt="München">
      </div>
      {% include 'legend.html' %}

   </div>

   {% endblock %}
</body>

</html>