<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
   <meta charset="utf-8">
   <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->

   <!-- <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet"> -->
   <link rel="stylesheet" href="static/css/template.css">
   <!-- <link rel="shortcut icon" type="image/png" href="img/favicon.png"> -->
   <title>Emagramm</title>
</head>

<body>
   <!-- {% extends "template.html" %} -->
   <!-- {% block content %} -->
   <!-- <h1> EMA </h1> -->
   <!-- <p> Ema stuff: </p> -->
   <!-- <p> And Here.... </p> -->

   <div class="wrapper">
      <div class=”one">
         eins
         <img src="{{ url_for('static', filename='images/PAYERNE_(06610).png') }}" alt="Image 1">
      </div>
      <div clss="two">
         zweit
         <img src="{{ url_for('static', filename='images/PAYERNE_(06610).png') }}" alt="Image 1">
      </div>
      <div class="three">
         drei
         <img src="{{ url_for('static', filename='images/PAYERNE_(06610).png') }}" alt="Image 1">
      </div>
      <div class="four">
         vier
         <img src="{{ url_for('static', filename='images/PAYERNE_(06610).png') }}" alt="Image 1">
      </div>
   </div>



   <!-- {% endblock %} -->
</body>

</html>