<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
   <meta charset="utf-8">
   <title>Home</title>
</head>

<body>
   {% extends "template.html" %}
   {% block content %}
   <h1> Temperature Gradients </h1>

   <h2>Reload</h2>

   If you think the figures are outdated, try to reload to fetch and process the latest data.

   <div class="container">
      <form method="post">
         <input type="submit" value="Reload Data">
   </div>


   <h2>Why Temperature Gradients?</h2>

   The temperature gradient in dependence of the altitude is a key parameter to determine if a given day is good for
   paragliding or not i.e., the thermal activity can be good or not. Raw atmosphere data from radio soundings are
   available from the public meteo services, in this case from Meteoschweiz <a href="#foot_meteoschweiz">[1]</a>.
   Furthermore, the atmosphere parameters are displayed in a so-called "Emagramm". An Emagramm allows to graphically
   calculate things like temperature gradient or cloud base. But it is hard to read. This webtool is an attempt to
   display the temperature gradients of the most recent soundings in an easy to read way.

   <h2>Data</h2>

   The raw data is available at <a href="#foot_raw">[2]</a>. In the background, this website calculates and displays the
   gradients from the raw files.
   The soundings are recorded at noon and midnight (UTC) and are available shortly after.


   <h2>Links</h2>

   <p id="foot_meteoschweiz">[1] <a
         href="https://www.meteoswiss.admin.ch/home/measurement-and-forecasting-systems/atmosphere/radio-soundings.html">Meteoschweiz
         Radio Soundings</a></p>

   <p id="foot_raw">[2]<a
         href="https://www.meteoschweiz.admin.ch/product/input/radio-soundings/VSST80.LSSW_20210402_0000.txt"> Sample
         URL of raw data in Milano:</a>
      https://www.meteoschweiz.admin.ch/product/input/radio-soundings/VSST80.LSSW_YYYYMMDD_0000.txt, change YYYY, MM, DD
      with current year, month, day</p>

   {% endblock %}

</body>
</html>