<!DOCTYPE html>
<html lang="en" dir="ltr">

   <script src='static/js/script.js'></script>

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="static/css/template.css">
   <title> Responsive Emagramm</title>
</head>


<body>
   {% extends "template.html" %}
   {% block content %}

   <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   <div class="topnav" id="myTopnav">
      <a href="#home" class="active">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
         <i class="fa fa-bars"></i>
      </a>
   </div>

 -->
   <div class="cards">
      <div class="card">
         eins
         <img class="img" src="{{ url_for('static', filename='images/PAYERNE_(06610).png') }}" alt="Image 1">
      </div>
      <div class="card">
         eins
         <img class="img" src="{{ url_for('static', filename='images/PAYERNE_(06610).png') }}" alt="Image 1">
      </div>
      <div class="card">
         eins
         <img class="img" src="{{ url_for('static', filename='images/PAYERNE_(06610).png') }}" alt="Image 1">
      </div>
      <div class="card">
         eins
         <img class="img" src="{{ url_for('static', filename='images/PAYERNE_(06610).png') }}" alt="Image 1">
      </div>

   </div>

   {% endblock %}
</body>

</html>