<!DOCTYPE html>
<html lang="en" dir="ltr">

   <script src='static/js/script.js'></script>

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="static/css/template.css">
   <title>Previous Gradients</title>
</head>


<body>
   {% extends "template.html" %}
   {% block content %}

   <div class="cards">
      <div class="card">
         <h3>Payerne</h3>
         <img class="img showModal" src="{{ url_for('static', filename='images/VSST76_previous.svg') }}" alt="Payerne">
      </div>
      <div class="card">
         <h3>Stuttgart</h3>
         <img class="img showModal" src="{{ url_for('static', filename='images/VSST78_previous.svg') }}" alt="Stuttgart">
      </div>
      <div class="card">
         <h3>Milano</h3>
         <img class="img showModal" src="{{ url_for('static', filename='images/VSST80_previous.svg') }}" alt="Milano">
      </div>
      <div class="card">
         <h3>München</h3>
         <img class="img showModal" src="{{ url_for('static', filename='images/VSST77_previous.svg') }}" alt="München">
      </div>

      {% include 'legend.html' %}
   </div>

   {% endblock %}
</body>

</html>