<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="shortcut icon" href="{{ url_for('static', filename='glider.ico') }}">
   <link rel="stylesheet" href="static/css/template.css">
   <title>Emagramm</title>
</head>

<body>

   <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   <div class="topnav" id="myTopnav">
      <a href="{{ url_for('home') }}" class="active">Home</a>
      <a href="{{ url_for('cema') }}">Current Emagramm</a>
      <a href="{{ url_for('rema') }}">Previous Emagramm</a>
      <a href="{{ url_for('about') }}">About</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
         <i class="fa fa-bars"></i>
      </a>
   </div>
   {% block content %}
   {% endblock %}


   <!-- Modal Code -->
   <div class="modal" id="overlay">
      <!-- <div id="image"> -->
      <div class="modal-content">
         <img src="" id="modalImg">
      </div>
   </div>


   <script type=text/javascript src="{{
      url_for('static', filename='js/jquery.js') }}"></script>
   <script type=text/javascript src="{{
      url_for('static', filename='js/script.js') }}"></script>


</body>